src/test/resources/sample/ko/names.dtd

<!--
   SFDC dictionary DTD for KOREAN

   see i18n.grammar.LanguageDeclension for more information
   
   DO NOT MODIFY BY HAND! This file is generated by running
   GeneratedAndCheckedInFileTest.testSfdcnamesDtd
-->
<!-- simple boolean type -->
<!ENTITY % BOOLEAN    "(true|false)">
<!ENTITY % YN         "(y|n)">

<!--=================== dictionary elements ==============================-->

<!-- "entity" if this is standard object(tab) name -->
<!ENTITY % noun.type  "type     (entity | field | other)">

<!-- "m" for Masculine, "f" for Feminine, "n" for Neuter,
     "a" for Animate Masculine (Slavic languages)
     "e" for Euter (Swedish) and "c" for Common (Dutch) -->
<!ENTITY % gender     "gender   (n)">

<!--
Specifing the type of first letter(or soft sound) of noun
    c:  consonant    (default)
    v:  starts with vowel.
    s:  S(consonant) or Z (for Italian)
    -->
<!ENTITY % ends     "endsWith  (c | v)">

<!--"y" for plural form, "n" for singular form -->
<!ENTITY % plural     "plural   %YN;">

<!--
dnt (Do Not Translate) attribute defines whether the following section or label
should be translated. Set to "true" to NOT translate.
-->
<!ENTITY % dnt      "dnt %BOOLEAN;">

<!--
standard field
		default is "y" (yes)
	y	is standard field (yes)
	n	is not a standard field (no)
	-->
<!ENTITY % standardField "standardField %YN;">
<!--=================== Root element =====================================-->
<!ELEMENT names ((noun)+, (adjective)*, (article)*, (import)*)>

<!--
noun element is used to specify translation of nouns
    name:   specify either  %entity; or %compoundNouns;
    alias:   The alias used in label files to refer to the object in the plural
    entity:  The object type associated with this label
    type:   "entity" if this is for standard object, where all form are required
            "field" if this requires both singular/plural form,
              other forms are not required, but can be specified and renamed
    -->
<!ELEMENT noun (value)+>
<!ATTLIST noun
  name          ID          #REQUIRED
  %dnt;                 #IMPLIED
  alias		CDATA       #IMPLIED
  entity	CDATA	    #IMPLIED
  access        CDATA       #IMPLIED
  %noun.type;               #IMPLIED
  %gender;                   "n"
  %ends;                  "c"
  %standardField;	    #IMPLIED
  >

<!--
adjective element is used to specify translation of adjectives
    position: whether this adjective comes before or after the noun, usually.
    name:   specify name of this adjective
    -->
<!ELEMENT adjective (value)+>
<!ATTLIST adjective
  name          ID          #REQUIRED
  %dnt;                     #IMPLIED
  position      (b|a)       #IMPLIED
  >

<!--
article element is used to specify translation of articles and other determiners
    name:   specify name of this adjective
    -->
<!ELEMENT article (value)+>
<!ATTLIST article
  name          ID          #REQUIRED
  %dnt;                     #IMPLIED
  type          (n|a|the|i|d)     #REQUIRED
  >

<!--
import element specifies file to be included as part of the document
    -->
<!ELEMENT import EMPTY>
<!ATTLIST import
  file          CDATA       #REQUIRED
  >

<!--
value element is shared by both noun/adjective.
    -->
<!ELEMENT value (#PCDATA)>
<!ATTLIST value
  %plural;                   "n"
  %ends;                  #IMPLIED
  >

